<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
<style>
p {
  color:white;
}

body {
  margin-top:90px;
  color:white;
  background-color:black;
  padding:0;
  height:100%;
  display:block;
  background-size: 75% 100%;
}

header {
  background-color:steelblue;
  position:fixed;
  top:0;
  left:0;
  font-size: 35px;
  width:100%;
  height:auto;
  margin-bottom:15px;
}

footer {
  background-color:steelblue;
  position:fixed;
  bottom:0;
  width:100%;
  left:0;
}

.button {
  color:white;
  border:none;
  padding: 24px 16px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  background-color:steelblue;
}

.biggerButton {
  padding: 24px 18px;
  font-size: 24px;
}

.button:hover {
  color:steelblue;
  background-color:white;
}

.center {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

#wbckgrd {
  background-color:white;
}

a {
  color:powderblue;
}

a:hover {
  color:red;
}

.body {
  display: in-line block;
  margin-left:150px;
  margin-right:150px;
  margin-bottom:150px;
}

h1 {
  color:tomato;
  font-family:cursive;
}

h2 {
  color:steelblue;
}

#footer-text {
  color:black;
  padding:10px;
}

hr {
  border: 1px solid darkblue;
}

input {
  background-color:black;
  border: 1px solid tomato;
  color:powderblue;
  font-size:14pt;
  width:250px;
}

::placeholder {
  color:steelblue;
  font-size:14pt;
  opacity:0.6;
}
</style>
</head>
</html>
