<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
<style>
p {
  color:white;
}

body {
  margin-top:90px;
  color:white;
  background-color:black;
  padding:0;
}

header {
  background-color:steelblue;
  position:fixed;
  top:0;
  left:0;
  font-size: 35px;
  border:black;
  width:100%;
}

footer {
  background-color:steelblue;
  position:fixed;
  bottom:0;
  width:100%;
  left:0;
}

.button {
  color:white;
  border:none;
  padding: 24px 16px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  background-color:steelblue;
}

.biggerButton {
  padding: 24px 18px;
  font-size: 24px;
}

.button:hover {
  color:steelblue;
  background-color:white;
}

.center {
  display: block;
  margin-left:auto;
  margin-right:auto;
  right: 0;
}

a {
  color:powderblue;
}

a:hover {
  color:red;
}

#profile-picture-text {
  text-align: center;
  font-size: 14pt;
  padding: 2px;
  color:white;
  margin-right:5px;
}

.body {
  display: in-line block;
  margin-left:150px;
  margin-right:150px;
  margin-bottom:150px;
}

h1 {
  color:tomato;
  font-family:cursive;
}

h2 {
  color:steelblue;
}

#footer-text {
  color:black;
  padding:10px;
}

.cover-background {
  display:block;
  background-image: url("./images/Gators.jpeg");
  background-repeat: no-repeat;
  background-size: 75% 100%;
  background-position:right;
  background-attachment:fixed;
  background-color:tomato;
}

hr {
  width:100%;
  right:0;
  left:0;
  overflow:hidden;
}
</style>

</head>
</html>
