<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
<style>
p {
  color:white;
}

body {
  color:white;
  background-color:black;
  padding:0;
}

header {
  background-color:steelblue;
  font-size: 35px;
  border:black;
  width:100%;
  margin-bottom:20px;
}


.button {
  color:white;
  border:none;
  padding: 24px 16px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  background-color:steelblue;
}

.biggerButton {
  padding: 24px 18px;
  font-size: 24px;
}

.button:hover {
  color:steelblue;
  background-color:white;
}

#cover-image {
  display: block;
  background-color:tomato;
  border: 3px solid white;
  width: 350px;
  height: 525px;
  padding: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color:powderblue;
}

#profile-picture {
  text-align: center;
  font-size: 14pt;
  padding: 2px;
}

.body {
  display: in-line block;
  margin-left:150px;
  margin-right:150px;
}

h1 {
  color:tomato;
  font-family:cursive;
}

h2 {
  color:steelblue;
}
</style>

</head>
</html>
