body {
    background-image: url('../HubbleDeepField.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-size: fill;
}

* {
    box-sizing: border-box;
}

button {
    background-color: black;
    color: darkgray;
    border: 1px solid white;
    padding: 8px;
    font-size: min(max(14pt, 1.5vw), 16pt);
}

button:hover {
    background-color: white;
    color: black;
}

input {
    color: gray;
    font-size: min(max(16pt, 2vw), 20pt);
    border: 2px darkgray solid;
}

input:hover {
    color: darkgray;
    background: gray;
}

h1,
h2 {
    color: white;
    text-align: center;
}

p,
a {
    color: white;
}

.Impact {
    border: 1vw solid gray;
    /* background-color: lightgreen;
     */
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 120ch;
}

.ImpactButton {
    display: block;
    margin-left:auto;
    margin-right:auto;
    color: darkgray;
    border: 0.05vw solid darkgray;
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    margin-top:25px;
}

.ImpactButton:hover {
    color: gray;
    background-color: darkgray;
}

footer {
    margin-top: 15px;
    padding-bottom: 0px;
}

body>footer {
    display: table-row;
}

.footerButton {
    margin-bottom: 0;
}

#canvas {
    border: 1px solid black;
    width: 50%;
    background-color: black;
    border-radius: 15px;
}

label {
    color: gray;
}

